body {background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

.wrapper {width: auto;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 2px 5px 5px 2px grey;}
   

.container {width: auto;
    background-color:lightgray;
    padding: 20px;}


h1 {color: crimson;
    margin-top: 60px;
    margin-bottom: 50px;
    text-align: center;
    width: auto;}

h2 {margin-bottom: 25px;
    border-bottom: grey;
    text-decoration: underline grey;
    font-size: 30px;}

input {margin-bottom: 15px;
            padding: 0px;
            text-align: auto;
            width: 75%;
            height: 40px;
           }
